.pic-card {
    max-width: 450px;
    width: 100%;
    margin: 3rem auto;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.pic-card-header {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.pic-card-img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.pic-card-body {
    padding: 0.50rem;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.pic-card-text {
    margin: 0.50rem 0;
}

.pic-card-repo {
    margin: 0.50rem 0;
}

.pic-card-tech {
    font-size: 80%;
    color: #999999;
}