#footer {
    width: 100%;
    text-align: center;
    border-top: 2px #70c1b3 solid;
    background-color: #ffffff;
    padding: 1rem;
    margin-top: 1rem;
    color: #333333;
    font-size: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    #footer {
        max-width: 540px;
        padding: 1.5rem;
        margin-top: 1.5rem;
    }
}

@media (min-width: 768px) {
    #footer {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    #footer {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #footer {
        max-width: 1140px;
    }
}
