html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /* background-color: #b7b7a4; */
}

blockquote {
    text-align: center;
    padding: 1rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 5px solid #ee6c4d;
    background-color: beige;
}

.bg-content {
    background-color: #e9eeee;
}
