#header {
    width: 100%;
    border-bottom: 2px #70c1b3 solid;
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    #header {
        max-width: 540px;
        padding: 0 0 0.5rem 0;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {
    #header {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    #header {
        max-width: 960px;
        padding: 0 0 1rem 0;
    }
}

@media (min-width: 1200px) {
    #header {
        max-width: 1140px;
    }
}

.bg-header {
    background-color: #235759;
}

#my-pic {
    float: left;
    margin: 1rem 0.5rem 0 0.5rem;
    width: 50px;
    height: auto;
}

@media (min-width: 576px) {
    #my-pic {
        width: 75px;
        margin: 0.5rem 0.5rem 0 0.5rem;
    }
}

@media (min-width: 768px) {
    #my-pic {
        width: 100px;
    }
}

.btn-active {
    background-color: #fcd581;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0;
    flex: 50%;
    max-width: 50%;
}

.btn-inactive {
    background-color: #fffae2;
    color: #999999;
    padding: 0.5rem;
    margin: 0;
    flex: 50%;
}

.nav-btn {
    border: 0;
    min-width: 100px;
    text-align: center;
}

#lower-div {
    flex-direction: column;
}

#btn-div {
    display: flex;
}

#my-role {
    font-style: italic;
    color: #ee6c4d;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 0.5rem;
}

@media (min-width: 576px) {
    #my-role {
        padding: 0;
        border: 0;
    }

    #lower-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-btn {
        display: inline-block;
        /* width: auto; */
        border-top: 0;
        border-left: 1px #999999 solid;
        border-right: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .btn-active {
        padding: 0.25rem 0.75rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }

    .btn-inactive {
        padding: 0.5rem 0.75rem;
        margin: 0 0.5rem;
    }

    .btn-active:hover {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
}
